.recipe {
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: flex-start;
  min-width: 40%;
  padding: 20px;
}

.image {
  width: 250px;
}

.title {
  text-transform: uppercase;
  margin-top: 0;
}

.ingredlist {
  list-style: none;
  padding: 0;
  line-height: 1.7rem;
}
